@page
@model Prueba.Areas.Identity.Pages.Account.NuevoCondominioModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Areas/Identity/Pages/Account/Manage/_LayoutCustom.cshtml";

}

<div class="container-fluid mb-2">
    <!-- Content Row -->
    <div class="row justify-content-center mb-2">
        <div class="col-lg-4" id="container-madre">
            <form method="post">
                <!-- User Card -->
                <!-- Admin Card -->
                <div class="card shadow mb-4 bg-content-bg" id="AdminSignupForm">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold text-primary">
                            Registra tu Administrador
                        </h4>
                    </div>

                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row mb-3">
                            <!-- First Name -->
                            <div class="col-6">
                                <div class="form-floating">
                                    <input asp-for="Input.Nombre"
                                           class="form-control"
                                           placeholder="Nombre(s)"
                                           onfocus="toggleLabelText(this, true)"
                                           onblur="toggleLabelText(this, false)" />
                                    <label asp-for="Input.Nombre"
                                           class="form-label"
                                           data-original="Nombre(s)"
                                           data-translated="Ingresa tu Nombre">Nombre(s)</label>
                                    <span asp-validation-for="Input.Nombre" class="text-danger"></span>

                                </div>
                            </div>
                            <!-- Last Name -->
                            <div class="col-6">
                                <div class="form-floating">
                                    <input asp-for="Input.Rif"
                                           class="form-control"
                                           placeholder="Rif/C.I."
                                           onfocus="toggleLabelText(this, true)"
                                           onblur="toggleLabelText(this, false)" />
                                    <label asp-for="Input.Rif"
                                           class="form-label"
                                           data-original="Rif"
                                           data-translated="Ingresa tu Rif o C.I.">Rif/C.I</label>
                                    <span asp-validation-for="Input.Rif" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email"
                                   class="form-control"
                                   placeholder="Email"
                                   onfocus="toggleLabelText(this, true)"
                                   onblur="toggleLabelText(this, false)" />
                            <label asp-for="Input.Email"
                                   class="form-label"
                                   Email class="form-label"
                                   data-original="Email"
                                   data-translated="Ingresa tu Email">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <!-- Password -->
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password"
                                   class="form-control"
                                   placeholder="Contraseña"
                                   onfocus="toggleLabelText(this, true)"
                                   onblur="toggleLabelText(this, false)" />
                            <label asp-for="Input.Password"
                                   class="form-label"
                                   Email class="form-label"
                                   data-original="Contraseña"
                                   data-translated="Ingresa tu Contraseña">Contraseña</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <!-- Confirm Password -->
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword"
                                   class="form-control"
                                   placeholder="Confirma tu Contraseña" />
                            <label asp-for="Input.ConfirmPassword" class="form-label">Confirma tu Contraseña</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <!-- Back Button -->
                            @* <div class="col-6 d-flex justify-content-center align-items-center">
                                <span style="width: 80%;" class="btn btn-lg btn-secondary justify-content-center" onclick="volverCommand()">Volver</span>
                            </div> *@
                            <!-- Continue Button -->
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <span type="submit" style="width: 80%;" class="btn btn-lg btn-primary justify-content-center" onclick="hideAdminForm()">Continuar</span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Condominio Card -->
                <div class="card shadow mb-4 bg-content-bg hidden" id="CondominioForm">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Registra tu Condominio
                        </h6>
                    </div>
                    <div class="card-body">
                        <!-- Contribuyente Especial -->
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="SpecialCheck" />
                            <label class="form-check-label" for="SpecialCheck">
                                Contribuyente Especial
                            </label>
                        </div>
                        <div class="row mb-3">
                            <!-- Rif -->
                            <div class="col-6">
                                <div class="form-floating">
                                    <input asp-for="Input.RifCondominio"
                                           class="form-control"
                                           placeholder="Rif"
                                           onfocus="toggleLabelText(this, true)"
                                           onblur="toggleLabelText(this, false)" />
                                    <label asp-for="Input.RifCondominio"
                                           class="form-label"
                                           Email class="form-label"
                                           data-original="Rif"
                                           data-translated="Ingresa tu Rif">Rif</label>
                                    <span asp-validation-for="Input.RifCondominio" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- Tipo -->
                            <div class="col-6">
                                <div class="form-floating">
                                    <select asp-for="Input.Tipo" class="form-select">
                                        <option value="">Tipo de Condominio</option>
                                        <option value="Option 1">Residencial</option>
                                        <option value="Option 2">Empresarial</option>
                                        <option value="Option 3">Locales</option>
                                    </select>

                                    <label asp-for="Input.Tipo" class="form-label">Seleccione un Tipo</label>
                                    <span asp-validation-for="Input.Tipo" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <!-- Nombre del Condominio -->
                                <div class="form-floating mb-3 position-relative">
                                    <input asp-for="Input.NombreCondominio"
                                           class="form-control"
                                           placeholder="Condominio"
                                           onfocus="toggleLabelText(this, true)"
                                           onblur="toggleLabelText(this, false)" />
                                    <label asp-for="Input.NombreCondominio"
                                           class="form-label"
                                           Email class="form-label"
                                           data-original="Condominio"
                                           data-translated="Nombre del Condominio">Condominio</label>
                                    <span asp-validation-for="Input.NombreCondominio" class="text-danger"></span>

                                </div>
                            </div>
                            <!-- Dirección -->
                            <div class="col-6">
                                <div class="form-floating mb-3 position-relative">
                                    <input asp-for="Input.Direccion"
                                           class="form-control"
                                           placeholder="Dirección"
                                           onfocus="toggleLabelText(this, true)"
                                           onblur="toggleLabelText(this, false)" />
                                    <label asp-for="Input.Direccion"
                                           class="form-label"
                                           Email class="form-label"
                                           data-original="Dirección"
                                           data-translated="Ingresa la Dirección">Dirección</label>
                                    <span asp-validation-for="Input.Direccion" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <!-- InteresMora -->
                                <!-- Cambiar si es en $ o Bs. -->
                                <div class="form-floating mb-3 position-relative">
                                    <input asp-for="Input.InteresMora"
                                           class="form-control pe-5"
                                           type="number"
                                           placeholder="Interés/Mora"
                                           oninput="adjustCurrencyPosition(this)"
                                           onfocus="toggleLabelText(this, true)"
                                           onblur="toggleLabelText(this, false)" />
                                    <label asp-for="Input.InteresMora"
                                           class="form-label"
                                           Email class="form-label"
                                           data-original="Interés/Mora"
                                           data-translated="¿Cuanto se Cobrará de Mora?">Interés/Mora</label>
                                    <!-- Currency symbol displayed to the right of the input -->
                                    <span class="currency-symbol">%</span>
                                    <span asp-validation-for="Input.InteresMora" class="text-danger"></span>

                                </div>
                            </div>
                            <!-- Multa -->
                            <!-- Cambiar si es en $ o Bs. -->
                            <!-- Cambiar si es % -->
                            <div class="col-6">
                                <div class="form-floating mb-3 position-relative">
                                    <input asp-for="Input.Multa"
                                           class="form-control pe-5"
                                           type="number"
                                           placeholder="Multa"
                                           oninput="adjustCurrencyPosition(this)"
                                           onfocus="toggleLabelText(this, true)"
                                           onblur="toggleLabelText(this, false)" />
                                    <label asp-for="Input.Multa"
                                           class="form-label"
                                           Email class="form-label"
                                           data-original="Multa"
                                           data-translated="¿Cuanto se Cobrará de Multa?">Multa</label>
                                    <!-- Currency symbol displayed to the right of the input -->
                                    <span class="currency-symbol">%</span>
                                    <span asp-validation-for="Input.Multa" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="form-floating mb-3">
                            <input asp-for="Input.EmailCondominio"
                                   class="form-control"
                                   placeholder="Email"
                                   onfocus="toggleLabelText(this, true)"
                                   onblur="toggleLabelText(this, false)" />
                            <label asp-for="Input.EmailCondominio"
                                   class="form-label"
                                   Email class="form-label"
                                   data-original="Email"
                                   data-translated="Ingresa correo del Condominio">Email</label>
                            <span asp-validation-for="Input.EmailCondominio" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <!-- Back Button -->
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <span type="submit" class="w-100 btn btn-lg btn-secondary justify-content-center" onclick="volverCommand()">Volver</span>
                            </div>
                            <!-- Continue Button -->
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <button type="submit" class="w-100 btn btn-lg btn-primary justify-content-center">Registrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        function adjustCurrencyPosition(input) {
            const symbol = input.closest('.form-floating').querySelector('.currency-symbol');
            if (input.value.trim() !== "") {
                symbol.classList.add('adjusted');
            } else {
                symbol.classList.remove('adjusted');
            }
        }

        function toggleLabelText(input, isFocus) {
            const label = input.closest('.form-floating').querySelector('.form-label');
            if (label) {
                label.textContent = isFocus ? label.getAttribute('data-translated') : label.getAttribute('data-original');
            }
        }

        function hideUserForm() {
           // const userForm = document.getElementById("UserSignupForm");
            const adminForm = document.getElementById("AdminSignupForm");

            //userForm.classList.add("hidden");
            adminForm.classList.remove("hidden");
        }

        function hideAdminForm() {
            const adminForm = document.getElementById("AdminSignupForm");
            const condominioForm = document.getElementById("CondominioForm");

            adminForm.classList.add("hidden");
            condominioForm.classList.remove("hidden");

            const containerMadre = document.getElementById("container-madre");
            containerMadre.classList.remove("col-lg-4");
            containerMadre.classList.add("col-lg-6");
        }

        function hideCondominioForm() {
            const condominioForm = document.getElementById("CondominioForm");
            //const subsForm = document.getElementById("SubscriptionForm");
            const volverBtn = document.getElementById("VolverButton");

            condominioForm.classList.add("hidden");
            //subsForm.classList.remove("hidden");
            volverBtn.classList.remove("hidden");
        }

        function volverCommand() {
           // const userForm = document.getElementById("UserSignupForm");
            const adminForm = document.getElementById("AdminSignupForm");
            const condominioForm = document.getElementById("CondominioForm");
            //const subsForm = document.getElementById("SubscriptionForm");
            const volverBtn = document.getElementById("VolverButton");
            const containerMadre = document.getElementById("container-madre");

            if (!adminForm.classList.contains("hidden")) {
                adminForm.classList.add("hidden");
                //userForm.classList.remove("hidden");
            } else if (!condominioForm.classList.contains("hidden")) {
                condominioForm.classList.add("hidden");
                adminForm.classList.remove("hidden");

                containerMadre.classList.remove("col-lg-6");
                containerMadre.classList.add("col-lg-4");
            }
        }
    </script>
}